@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5e5;
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.row {
    display: flex;
    width: 600px;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.col-header {
    width: 150px;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
    border-radius: 20px;
    padding: 0.8rem 1rem;
    color: #fff;
}

.item {
    width: 150px;
    height: 66px;
    border: 1px solid #eee;
    box-shadow: 4px 4px 9px rgba(6, 65, 143, 0.664);
    border-radius: 20px;
    background: #7dabe7e7;
    padding: 0.8rem 1rem;
    color: #f5f1f1;
    text-align: center;
    cursor: grab;
}

.item:active {
    cursor: grabbing;
}

.placeholder {
    width: 150px;
    height: 66px;
    border-radius: 20%;
}

.start {
    background: linear-gradient(90deg, #a72a04 0%, #f0e54a 179.25%);
}

.progress {
    background: linear-gradient(90deg, #af6510 0%, #e9db13 100%);
}

.done {
    background: linear-gradient(90deg, #ddda06 0%, #5fee0c 100%);
}

.hold {
    border: none;
    box-shadow: none;
}

.hide {
    display: none;
}

.hovered {
    border-top: 3px solid rgb(122, 200, 168);
}